@import '../../../assets/scss/_main.scss';

.authorization__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  img {
    margin-top: 25px;
    max-width: 400px;
  }

  ::ng-deep.mat-progress-spinner {
    width: 75px !important;
    height: 75px !important;

    svg {
      width: 75px !important;
      height: 75px !important;
    }
  }
}
