@import '../../../assets/scss/_main.scss';

.footer {
  &__wrapper {
    background-color: $accent;
    height: 100px;
    position: static;
    bottom: 0;
    width: 100%;
    padding: 0 15px;
  }

  &__content {
    display: flex;
    align-items: center;
    height: 100px;

    p {
      @include font-format($color: $white, $size: 16px, $weight: 500);
    }
  }
}
