@import '../../../assets/scss/_main.scss';

.home {
  &__wrapper {
    .fix-position {
      top: 5px;
      position: relative;
    }
  }

  &__filter {
  }

  &__list {
    .flex-end {
      justify-content: flex-end;
      display: flex;
    }
  }
}
