<div class="login-wrapper d-flex flex-column">
  <div class="container">
    <div class="row">
      <div class="col">
        <div
          class="login-content d-flex justify-content-center align-items-center"
        >
          <mat-card class="login-form-box">
            <div class="login-form-text">
              <div class="row">
                <div class="col text-center">
                  <h1>Faça seu login</h1>
                </div>
              </div>
            </div>

            <form novalidate [formGroup]="formAtribute">
              <div class="login-form-body">
                <div class="row" *ngFor="let item of inputs; let i = index">
                  <div class="col">
                    <app-input
                      [item]="item"
                      [label]="item.label"
                      [formAtribute]="formAtribute"
                      [control]="item.formControl"
                      (eventClicked)="childEventClicked($event)"
                      (blurEvent)="onBlurEvent($event)"
                      (focusEvent)="onFocusEvent($event)"
                    ></app-input>
                  </div>
                </div>
              </div>

              <div class="login-form-footer mb-4">
                <div class="row">
                  <div class="col">
                    <app-button-raised
                      [label]="'Entrar'"
                      [large]="true"
                      (btnClick)="login()"
                      [disabled]="!formAtribute.valid"
                    ></app-button-raised>
                  </div>
                </div>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
