<div class="header__wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 col-lg-8">
        <div class="header__brand">
          <div (click)="returnHome()">
            <img src="../../../assets/img/logo.png" alt="" />
          </div>
          <div class="d-none d-xl-block">
            <p>Desafio Técnico</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 header__brand flex-end">
        <p (click)="logout()">Sair</p>
      </div>
    </div>
  </div>
</div>
