<div class="header__wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 col-lg-8">
        <div class="header__brand">
          <div (click)="returnHome()">
            <img src="../../../assets/img/logo.png" alt="" />
          </div>
          <div class="d-none d-xl-block">
            <p>{{ 'TEC_TITLE' | translate }}</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 header__brand flex-end"
        *ngIf="router.url !== '/login'"
      >
        <div>
          <mat-button-toggle-group name="Linguaguem">
            <mat-button-toggle
              value="pt-br"
              (change)="onValChange($event.value)"
              >Português</mat-button-toggle
            >
            <mat-button-toggle value="en" (change)="onValChange($event.value)"
              >Inglês</mat-button-toggle
            >
          </mat-button-toggle-group>
        </div>
        <p (click)="logout()">{{ 'LOGOUT' | translate }}</p>
      </div>
    </div>
  </div>
</div>
